<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.14.2/dist/bootstrap-table.min.css">


</head>
<body>

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">IMS</a>
        </div>
        <div class="collapse navbar-collapse" id="navBar">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="http://127.0.0.1:5000/api/v1/place/order/{{ id }}">Order</a></li>
                <li><a href="http://127.0.0.1:5000/api/v1/order/history/{{ id }}">History</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <h1>INVENTORY</h1>
    <div class="row">
        <div class="col-lg-6">
            <table class="table table-hover" id="table">
                <thead>
                <tr>
                    <th data-field="product_id">Product ID</th>
                    <th data-field="product_name">Product Name</th>
                    <th data-field="brand">Brand</th>
                    <th data-field="category">Category</th>
                    <th data-field="count">Quantity</th>
                </tr>
                </thead>
            </table>
        </div>
        <div class="col-lg-6" style="text-align: center">
            <h3>ADMIN: <a href="http://127.0.0.1:5000/api/v1/admin/info/{{ id }}">{{ admin_name }}</a></h3>
            <p>Total Budget: {{ t_budget }}</p>
            <p>Remaining Budget: {{ r_budget }}</p>
        </div>
    </div>
</div>
<script src="https://unpkg.com/bootstrap-table@1.14.2/dist/bootstrap-table.min.js"></script>
</body>

<script>

    function decodeHtml(html) {
    var txt = document.createElement("textarea");
    txt.innerHTML = html;
    return txt.value;
    }

    var mydata = JSON.parse(decodeHtml("{{ products }}"));

$(function () {
    $('#table').bootstrapTable({
        data: mydata
    });

});
</script>

</html>
